* {
  margin: 0;
  padding: 0;
}

.navigation {
  font-family: var(--font1);
  height: 50px;
  margin-top: 25px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  font-size: 20px;
  display: flex;
}

.immo{
    width: 25px;
    height: 25px;
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 18px;
}

.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-weight: bold;
}

.nav-left ul li a {
  text-decoration: none;
  color: black;
}

.content {
  background-color: white(105, 41, 41);
  display: flex;
  height: 100%;
  margin-top: 20px;
  padding: 9px;
  position: relative;
}

.content::after {
  content: "";
  background-image: url("23.jpg");
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.15;
}

.content-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-left {
  padding: 30px;
  font-family: var(--font1);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.content-right img {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  z-index: 1;
}

.home-articles {
  background-color: gold;
  padding: 12px;
  margin-top: 10px;
  position: relative;
}

.year-box{
    position: absolute;
    right: 0px;
    width: 197px;
    height: 150px;
    left: 570px;
    top: 44px;
}

.home-article {
  display: flex;
}

.home-article-content {
  align-self: center;
  padding: 12px;
}

.home-article-content a{
    text-decoration: none;
    color: black;
}


.home-article img {
  width: 150px;
  height: 150px;
  margin: 5px;
}

.footer {
  height: 50px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
